*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  place-items: center;
  margin: 20rem auto;
  width: 80vw;
}
.btn {
  display: flex;
  padding: 0.85rem 1rem;
  background-color: green;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 780px) {
  .btn {
    font-size: 1.6rem;
  }
}
